.accountContainer {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  height: 700px;
}

.accountInfo {
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(34, 21, 21, 0.1);
  width: 1500px;
  height: 700px;
}

.accountInfo h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
}

.table thead {
  background-color: #4a90e2;
  color: #ffffff;
}

.table th,
.table td {
  padding: 16px;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table th {
  font-weight: 600;
  font-size: 16px;
}

.table td {
  color: #444;
  font-size: 15px;
}

.update {
  cursor: pointer;
  text-align: center;
  &:hover {
    color: #4a90e2;
  }
}
.btn_add {
  background-color: rgb(79, 70, 229);
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  margin-bottom: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.containerTable {
  max-height: 500px;
  overflow-y: auto;
}

.searchInput {
  margin: 16px 0;
  padding: 8px 12px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.975);
  z-index: 999;
}

.modalWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
}
