@import '@styles/_mixin.module.scss';
.header {
  position: relative;
  z-index: 1;
  width: 100%;
}

.wrapper {
  display: flex;
}

.menuService {
  height: 100vh;
  width: 250px;
  position: absolute;
  z-index: 2;
  top: 0;
  
}

.content {
  width: 900px;
  max-height: 740px;
  overflow-y: auto;
  margin-left: 300px;
  padding: 10px;
  flex: 1;
  background-color: #f9fafc;
}

.startCard {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.barChart {
  display: flex;
  flex-direction: column; 
  gap: 30px;
  margin: 20px 10px 20px 10px;
  width: 100%;
}

.topSection {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.bottomSection{
  display: flex;
  justify-content: space-between;
}

.pieChart{
  border-radius: 10px;
  width: 690px;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  background-color: ffff;
  
}

.employees,
.department {
  display: flex;
  flex-direction: column;
}
