.attendanceTable {
  font-family: Arial, sans-serif;
  margin: 20px;

  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-left: 20px;
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.searchInput {
    margin: 10px;
  padding: 8px 12px;
  width: 300px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.searchInput:focus {
  border-color: #007bff;
}

.monthSelect {
    margin-right: 20px;
  padding: 8px 12px;
  width: 160px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.monthSelect:focus {
  border-color: #007bff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  background-color: #ffffff;
}

tr:hover {
  background-color: #f5f5f5;
}

.tableWrapper {
  max-height: 300px;  
  overflow-y: auto;  
}

.tableWrapper table thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  border-bottom: 2px solid #ddd;
}


